<%- include("Navbar.ejs") %>



<form action="/admin/update_faculty_detail" method="post" enctype="multipart/form-data">
    <input type="hidden" name="faculty_id" value="<%=fac_info[0].faculty_id %>">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-12 bg-secondary shadow" > 
                <h1 class="text-white"> EDIT FACULTY</h1>
            </div>
            <div class="col-md-4 mt-5">
                <label for=""> Faculty Name</label>
                <input type="text" name="faculty_name" class="form-control" value="<%= fac_info[0].faculty_name %>">
            </div>
            <div class="col-md-4 mt-5">
                <label for=""> Faculty Designation</label>
                <input type="text" name="faculty_Designation" class="form-control" value="<%= fac_info[0].faculty_Designation %>">
            </div>
            <div class="col-md-2 mt-5">
                <label for="">  faculty_photo</label>
                <input type="file" name="faculty_photo" class="form-control">
            </div>
            <div class="col-md-2 mt-5">
                <img src="/uploads/<%=fac_info[0].faculty_photo%>" width="100px" alt="">
            </div>
           
            <div class="col-md-2 mt-4">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    </form>
<%- include("Footer.ejs") %>